*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
}

.content {
  margin-top: -50px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 133px;
}

.result__video-container {
  width: 711px;
  margin-bottom: 20px;
  margin-top: 211px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.content__list-container {
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 26px;
  margin-right: 50px;
  position: relative;
}

.content__list-item{
  margin-bottom: 30px;
}

.content__card-link {
  text-decoration: none;
  color: white;
}

.content__video-card-title {
  text-transform: uppercase;
  font-family: 'Oswald';
  font-weight: 700;
  font-style: bold;
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 196px;
}

.content__video-card-description {
  size: 18px;
  line-height: 16.2px;
  font-family: 'Fira Sans Condensed';
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 399px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  display: block;
}

.title {
  font-weight: 700;
  font-style: bold;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  letter-spacing: 0%;
  font-family: 'Oswald';
}

.content__accent {
  color: #545050;
  margin-bottom: 5px;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.search-form__textfield {
  border: none;
  background: transparent;
  width: 225px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  text-align: start;
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-weight: 400;
  color: white;
  appearance: none;
}

.search-form__fieldset {
  border: none;
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 10px;
}

.search-form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 1.5px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  background: transparent;
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  box-shadow: inset 0 0 0 1px #1b1919,
              inset 0 0 0 17px #fff;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox:focus {
  outline: none;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.more-button {
  width: 100%;
  background: transparent;
  border: 1px solid #FFF;
  color: #FFF;
  text-align: center;
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-weight: 700;
  padding: 6px 142px;
}

.search-form__submit-button {
  background: transparent;
  border: 1px solid #FFF;
  color: #FFF;
  text-align: center;
  padding: 6px 73.5px;
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-weight: 700;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  cursor: pointer;
}

.content__list-item:active {
  background-color: #545050;
}

.content__list-item:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;;
}

.content__list-item:hover {
  text-decoration: underline;
  text-underline-offset: 5.5px;
  text-decoration-thickness: 1px;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
